# --- Logs e Monitoramento ---
logs/*
!logs/.gitkeep
*.log
cron_launcher.log

# --- Configurações e Segredos (Segurança) ---
configs/config.env
.env
*.pem

# --- Infraestrutura (Terraform) ---
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# --- Automação (Ansible) ---
*.retry

# --- Sistema e IDE ---
.DS_Store
.vscode/
.idea/
