name: CI Pipeline - Monitor Saude

# GATILHOS: Quando este pipeline deve rodar?
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md' # Não roda se só mudou documentação (economia de recursos)
  pull_request:
    branches: [ "main" ]

# TRABALHOS: O que deve ser feito?
jobs:
  # Job 1: Verificação de Qualidade (Linting)
  lint-scripts:
    name: Lint Shell Scripts
    runs-on: ubuntu-latest
    
    steps:
      # Passo 1: Baixar o código do repositório
      - name: Checkout Code
        uses: actions/checkout@v4

      # Passo 2: Instalar o ShellCheck (Linter oficial de Bash)
      - name: Install ShellCheck
        run: sudo apt-get update && sudo apt-get install -y shellcheck

      # Passo 3: Rodar o teste estático nos scripts
      # -x: Segue includes (source)
      - name: Run ShellCheck
        run: |
          echo "Iniciando análise estática de segurança..."
          shellcheck -x scripts/*.sh
